html{
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, #fff, #ccc) ;
    background-image: url(./images/wallpaper.jpg);
    font-family: cursive, sans-serif;
}

#container{
    height: 600px;
    width: 750px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
}

#score{
    background-color: #d3901d;
    width: 70px;
    color: black;
    padding: 10px;
    position: absolute;
    left: 700px;
    box-shadow: 0px 4px 0px 0px #775012;
    -moz-box-shadow: 0px 4px 0px 0px #775012;
    -webkit-box-shadow: 0px 4px 0px 0px #775012;
    border-radius: 10px;
}

#numberOfLifes{
    width: 80px;
    height: 20px;
    background-color: #d3901d;
    color: #888E5F;
    padding: 10px;
    position: absolute;
    box-shadow: 0px 4px 0px 0px #775012;
    -moz-box-shadow: 0px 4px 0px 0px #775012;
    -webkit-box-shadow: 0px 4px 0px 0px #775012;
    border-radius: 10px;
    display: none;
}

.life{
    width: 16px;
    height: 16px;
    margin: 0 5px;
}

#board{
    background-color: white;
    width: 650px;
    height: 400px;
    margin: 50px auto 10px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #4b4b4e;
    -moz-box-shadow: 0px 4px 0px 0px #4b4b4e;
    -webkit-box-shadow: 0px 4px 0px 0px #4b4b4e; 
    position: relative;
    overflow: hidden;
}

#instruction{
    width: 450px;
    height: 50px;
    background-color: #d3901d;
    margin: 30px auto;
    text-align: center;
    line-height: 45px;
    border-radius: 20px;
    box-shadow: 0px 4px 0px 0px #775012;
}

#startreset{
    background-color: #8d8315;
    padding: 10px;
    width: 90px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow:  0px 4px 0px 0px #5c5619 ;
    -moz-box-shadow:  0px 4px 0px 0px #5c5619 ;
    -webkit-box-shadow:  0px 4px 0px 0px #5c5619 ;
    cursor: pointer;
    text-align: center;
    position: relative;
}

#gameover{
    height: 200px;
    width: 500px;
    background: linear-gradient(#F3CA6B, #F3706C);
    color: white;
    font-size: 2.5EM;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 170px;
    left: 145px;
    z-index: 2;
    display: none;
}

.fruit{
    display: none;
    position: absolute;
}